<!DOCTYPE html>
<html>
<head>
<title>RSSTag</title>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% include 'head-data.html' %}
</head>
<body>
{% from 'site-header.html' import site_header with context %}
<noscript>
    <h1>Please enable javascript in your browser</h1>
</noscript>
{{ site_header(active='map') }}
<div class="page geomap">
    <div id="map_tools" class="flex items-center mb-4"></div>
    <div id="map"></div>
</div>

<div id="status" ><span></span></div>
<script type="text/javascript">
    var initial_countries_list = {{countries|json}}
    var initial_cities_list = {{cities|json}}
</script>
{% include "root-footer.html" %}
<div id="progressbar"></div></body>
</html>
