<!DOCTYPE html>
<html>
<head>
<title>Sentence Tree | {{tag}}</title>
{% include "head-data.html" %}
<script type="text/javascript">
    window.s_tree_data = {
        tag: {{ tag|tojson|safe }},
        words: {{ words|tojson|safe }},
        clusters: {{ clusters|tojson|safe }},
        cluster_links: {{ cluster_links|tojson|safe }}
    };
</script>
</head>
<body>
{% import 'main-menu.html' as menu with context %}{% import 'global-status.html' as g_status with context %}
<div id="global_tools">
  <div class="left_half">
    <div id="link_on_root" class="global_tools_button"><a href="/">main</a></div>
    <div id="help_button" class="global_tools_button"><a href="#">help</a></div>
  </div>
  <div class="right_half">
    {{ g_status.global_status() }}
    {{ menu.settings_menu() }}
  </div>
</div>
<div id="help_window">
    <ul>
        <li>Sentence Tree: aligned sentences by word</li>
    </ul>
</div>
<div id="s_tree_page"></div> {# This is where the React component will be mounted #}
<div id="global_tools_bottom">
    <ul id="paginator"></ul>
</div>
<div id="progressbar"></div>
</body>
</html>

