<!DOCTYPE html>
<html>
<head>
<title>{{group}} | {{tag}}</title>
{% include "head-data.html" %}
</head>
<body>
{% from 'site-header.html' import site_header with context %}
{{ site_header(active='tags') }}
<div class="flex items-center p-4 border-b border-outline-variant/10">
    <div id="help_button" class="global_tools_button">
        <a href="#">help</a>
    </div>
</div>
<div class="page">
    <div id="posts_page">
        <h4>{{tag}}</h4>
        <h5>(
            {% for w in words %}
                {{w}},
            {% endfor %}
        )</h5>
        {% if sentences %}
            <div>
                {% for p in sentences %}
                    <div class="post" data-feed="{{p['feed_id']}}" id="p{{p['pid']}}" data-pos="{{p['pid']}}"><a name="p{{p['pid']}}"></a>
                        <div class="post_meta">{{p['category_title']}} | {#<img src="{{p['favicon']}}" class="favicon" />#}<b class="post_feed_title">
                            {{p['feed_title']}}</b> | {{p['date']}}
                        </div>
                        <div class="post_content">
                            <ul>
                            {% for s in p["sentence"] %}
                                <li>{{s}}</li>
                            {% endfor %}
                            </ul>
                            &nbsp
                            <a href="/posts/{{p['pid']}}">...</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No unread posts</p>
        {% endif %}
    </div>
</div>
</body>
</html>