<html>
<head>

<title>Page of tag {{tag['tag']}}</title>
{%  include "head-data.html" %}
</head>
<body>

{% from 'site-header.html' import site_header with context %}
{{ site_header(active='tags') }}
<div class="flex items-center p-4 border-b border-outline-variant/10">
    <div id="help_button" class="global_tools_button">
        <a href="#">help</a>
    </div>
</div>
<div class="page">
    <h1>
        <a href="/entity/{{ tag['tag'] }}">{{ tag['tag'] }}</a>
    </h1>
    {% for chain in chains %}
        <div class="cloud_item">
            <a class="cloud_item_title" href="/entity/{{ tag['tag'] }} {{ chain[0] }}">{{ chain[0] }}({{ chain[1] }})</a>
            <br>
            <a href="/chain/{{ tag['tag'] }} {{ chain[0] }}">chain</a>
        </div>
    {% endfor %}
    <div>
        {{ svg_hist }}
    </div>
</div>
<div id="global_tools_bottom">
    <ul id="paginator"></ul>
</div>
<!--script language="javascript" type="application/javascript">
    var count = document.getElementById('cloud_items_count');
    count.innerHTML = document.getElementsByTagName('li').length;
</script-->
<!--script src="//unpkg.com/sunburst-chart"></script-->
<script type="text/javascript">
    let initial_tag = {{tag|json}};
    window.tag_chain_initial_data = {{chains|json}};
</script>

<div id="help_window">
<ul>
    <li>Click/tap on one tag and then click/tap on other tag, will open the page with posts have selected tags</li>
</ul>
</div>
<div id="progressbar"></div></body>
</html>