<html>
<head>

<title>Tags per feed</title>
{%  include "head-data.html" %}
</head>
<body>

{% import 'main-menu.html' as menu with context %}{% import 'global-status.html' as g_status with context %}
<div id="global_tools">
    <div class="left_half">
        <div id="link_on_root" class="global_tools_button">
            <a href="/">main</a>
        </div>
        <div id="help_button" class="global_tools_button">
            <a href="#">help</a>
        </div>
    </div>
    <div class="right_half">
        {{ g_status.global_status() }}
        {{ menu.settings_menu() }}
    </div>
</div>
<div class="page tag-feeds-page">
    <h1>Tags per feed</h1>
    <div class="table-container">
    <table class="table-bordered">
        <thead>
            <tr>
                <th>&nbsp;</th>
                {% for header in headers %}
                    <th><a href="{{ header.url }}">{{ header.title }}</a></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
            <tr>
                <td><a href="{{ row.tag_url }}">{{ row.tag }}</a></td>
                {% for cell in row.cells %}
                    <td title="{{ cell.hint }}">
                        {% if cell.url and cell.count > 0 %}
                            <a href="{{ cell.url }}">{{ cell.count }}</a>
                        {% else %}
                            {{ cell.count }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
<div id="global_tools_bottom">
    <ul id="paginator"></ul>
</div>
<div id="help_window">
<ul>
    <li>Table shows tag occurrences per feed.</li>
    <li>Hover over numbers to see detailed information.</li>
</ul>
</div>
<div id="progressbar"></div>
<script src="/static/js/tag-feeds.js"></script>
</body>
</html>
