<!DOCTYPE html>
<html>
<head>
<title>Tags net</title>
<script type="text/javascript" src="/static/vis-dist/vis.min.js"></script>
<link rel="stylesheet" href="/static/vis-dist/vis.min.css" />
{% include 'head-data.html' %}
</head>
<body>
{% from 'site-header.html' import site_header with context %}
<noscript>
    <h1>Please enable javascript in your browser</h1>
</noscript>
{{ site_header(active='tags') }}
<div class="flex items-center p-4 border-b border-outline-variant/10">
    <div id="tags_net_tools" class="global_tools_button"></div>
</div>
<div class="page geomap">
    <div id="tags_net"></div>
</div>

<div id="status" ><span></span></div>
<script type="text/javascript">
    var initial_dot = '{{tags}}'
</script>
{% include "root-footer.html" %}
<div id="progressbar"></div></body>
</html>
