<html>

<head>
    <title>Topics Mindmap</title>
    {% include "head-data.html" %}
</head>

<body style="overflow: hidden;">
    {% from 'site-header.html' import site_header with context %}

    {{ site_header(active='topics', show_context_filter=True) }}
    <div class="flex items-center p-4 border-b border-outline-variant/10">
        <div id="help_button" class="global_tools_button">
            <a href="/topics-list">topics list</a>
        </div>
    </div>
    <div class="page topics-mindmap-page">
        <h1>Topics Mindmap</h1>
        <div id="topics_mindmap_chart" class="topics-mindmap-chart"></div>
    </div>

    <script type="text/javascript">
        window.mindmap_data = {{ mindmap_data | tojson | safe }};
    </script>
    <script type="text/javascript" src="/static/js/bundle.js"></script>

</body>

</html>
