<html>
<head>
<title>Group by tag| Sort by {{sort_by_title}}</title>
{%  include "head-data.html" %}
</head>
<body>
{% import 'main-menu.html' as menu with context %}
<div id="global_tools">
    <div class="left_half">
        <div id="link_on_root" class="global_tools_button">
            <a href="/">main</a>
        </div>
        <div id="help_button" class="global_tools_button">
            <a href="#">help</a>
        </div>
        <div id="sotr_by" class="global_tools_button">
            <a href="{{sort_by_link}}">group by tag</a>
        </div>
        <div id="group_by" class="global_tools_button">
            <a href="{{group_by_link}}">group by category</a>
        </div>
    </div>
    <div class="right_half">
        <div id="main_menu_button" class="global_tools_button">
            {{ menu.menu_button('global_tools_button') }}
        </div>
    </div>
</div>
{% if letters %}
<div class="letters">
    {% for l in letters %}
        <a href="{{l['local_url']}}" class="letter">{{l['letter']}}</a>
    {% endfor %}
</div>
{% endif %}
{% if tags %}
    <div class="search_tools">
        <div id="loading"><img src="/static/img/g_load.gif" /></div>
        <input class="search_field" type="text" placeholder="Search" />
        <div class="search_result">
        </div>
    </div>
{% endif %}
{{ menu.menu_window() }}
<div class="page">
    <ol class="cloud">
        {% if tags %}
            {% for h in tags %}
                <li class="cloud_item"><a href="/tag/{{h['url']}}" class="cloud_item_title">{{h['tag']}}</a> ({{h['count']}})<br />({{h['words']|join(', ')}})</li>
            {% endfor %}
        {% else %}
            <p>No unread tags</p>
        {% endif %}
    </ol>
</div>
<div id="global_tools_bottom">
    <ul id="paginator">
        {% if pages_map['start'] %}
            {% for number in pages_map['start'] %}
                {% if number['p'] == current_page %}
                    <li class="current_page">{{number['p']}}</li>
                {% else %}
                    <li><a href="{{number['url']}}">{{number['p']}}</a></li>
                {% endif %}
            {% endfor %}
            {% if pages_map['middle'] %}
                <li>....</li>
            {% endif %}
        {% endif %}
        {% if pages_map['middle'] %}
            {% for number in pages_map['middle'] %}
                {% if number['p'] == current_page %}
                    <li class="current_page">{{number['p']}}</li>
                {% else %}
                    <li><a href="{{number['url']}}">{{number['p']}}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if pages_map['end'] %}
            <li>....</li>
            {% for number in pages_map['end'] %}
                {% if number['p'] == current_page %}
                    <li class="current_page">{{number['p']}}</li>
                {% else %}
                    <li><a href="{{number['url']}}">{{number['p']}}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
</div>
<!--script language="javascript" type="application/javascript">
    var count = document.getElementById('cloud_items_count');
    count.innerHTML = document.getElementsByTagName('li').length;
</script-->
<div id="help_window">
<ul>
    <li>Click/tap on one tag and then click/tap on other tag, will open the page with posts have selected tags</li>
</ul>
</div>
</body>
</html>