<html>
<head>
<title>Group by category</title>
{%  include "head-data.html" %}
</head>
<body>
<div id="global_tools">
    <div id="link_on_root" class="global_tools_button">
        <a href="/">main</a>
    </div>
    <div id="group_by" class="global_tools_button">
        <a href="{{group_by_link}}">group by tag</a>
    </div>
    <div id="only_unread" class="global_tools_button"><input id="only_unread_checkbox" name="only_unread_checkbox"" type="checkbox" {% if only_unread %} checked {% endif %} /><label for="only_unread_checkbox">only unread</label></div>
</div>
<div class="page">
    <div class="post">
    <ul>
        {% if data %}
            {% for cat in data %}
                {% if cat != 'All' %}
                    <li class="category"><a href="{{data[cat]['url']}}">{{data[cat]['title']}}</a>({{data[cat]['unread_count']}})<span class="show_btn minimized"></span>
                {% else %}
                    <li class="category"><a href="{{data[cat]['url']}}">{{data[cat]['title']}}</a>({{data[cat]['unread_count']}})
                {% endif %}
                    <ul class="feeds hidden">
                        {% for feed in data[cat]['feeds'] %}
                            <li><a href="{{feed['url']}}">{{feed['title']}}</a>({{feed['unread_count']}})</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        {% else %}
            <p>No unread feeds</p>
        {% endif %}
    </ul>
    </div>
</div>
</body>
</html>