<html>
<head>
<title>Group by category</title>
{%  include "head-data.html" %}
</head>
<body>
{% import 'main-menu.html' as menu with context %}
<div id="global_tools">
    <div class="left_half">
        <div id="link_on_root" class="global_tools_button">
            <a href="/">main</a>
        </div>
        <div id="group_by" class="global_tools_button">
            <a href="{{group_by_link}}">group by tag</a>
        </div>
    </div>
    <div class="right_half">
        {{ menu.settings_menu() }}
    </div>
</div>
<div class="page">
    <div class="post" id="cats_list"></div>
</div>
<script type="text/javascript">
    var initial_cats_list = {{data|json}}
</script>
<div id="progressbar"></div></body>
</html>