<!DOCTYPE html>
<html>
<head>
<title>RSSTag</title>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% include 'head-data.html' %}
</head>
<body>
{% import 'main-menu.html' as menu with context %}
<noscript>
    <h1>Please enable javascript in your browser</h1>
</noscript>
<div id="global_tools">
    {% include "logo.html" %}
    <div class="panel right_half">
        <div id="map_tools" class="global_tools_button"></div>
        {{ menu.settings_menu() }}
    </div>
</div>
<div class="page geomap">
    <div id="map"></div>
</div>
<div id="loading"><img src="/static/img/g_load.gif" /></div>
<div id="status" ><span></span></div>
<script type="text/javascript">
    var initial_countries_list = {{countries|json}}
    var initial_cities_list = {{cities|json}}
</script>
{% include "root-footer.html" %}
<div id="progressbar"></div></body>
</html>
