<html>
<head>
<title>Cloud</title>
{%  include "head-data.html" %}
</head>
<body>
<div id="global_tools">
    <div class="left_half">
        {% include "logo.html" %}
    </div>
    <div class="right_half">
    </div>
</div>
{% import 'providers.html' as providers with context %}
<div class="page screen_middle">
    <div class="middle_screen_middle">
        <form action="{{select_provider_url}}" method="POST">
            <input type="radio" name="provider" value="bazqux" id="bazqux" /><label for="bazqux">{{ providers.getName('bazqux') }}</label><br /><br />
            <input type="radio" name="provider" value="inoreader" id="inoreader" /><label for="inoreader">{{ providers.getName('inoreader') }}</label><br /><br />
            <input type="submit" value="Select" />
            <a href="/" class="link_in_form">Cancel</a>
        </form>
    </div>
</div>
{% include "root-footer.html" %}
</body>
</html>