<!DOCTYPE html>
<html>
<head>
<title>RssCloud</title>
{% include "head-data.html" %}
</head>
<body>
{% import 'main-menu.html' as menu %}
<noscript>
    <h1>Please enable javascript in your browser</h1>
</noscript>
<div id="global_tools">
    {% include "logo.html" %}
    <div class="panel right_half">
        <span class="login_button global_tools_button">
            <a href="/provider">{{provider}}</a>
        </span>
        {{ menu.menu_button('global_tools_button') }}
    </div>
</div>
{{ menu.menu_window() }}
<div class="page">
    {% for e in err %}
        <p id="error">{{e}}</p>
    {% endfor %}
    <div class="root_item"><a href="/group/category">Posts grouped by category</a></div>
    <div class="root_item"><a href="/group/tag/1">Posts grouped by tag</a></div>
    <div class="root_item"><a href="/provider">Select provider</a></div>
    <div class="root_item"><a href="/refresh">Refresh posts</a></div>
</div>
<div id="loading"><img src="/static/img/g_load.gif" /></div>
<div id="status" ><span></span></div>
{% include "root-footer.html" %}
</body>
</html>