<!DOCTYPE html>
<html>
<head>
<title>RSSTag</title>
{% include 'head-data.html' %}
</head>
<body>
{% import 'main-menu.html' as menu with context %}
<noscript>
    <h1>Please enable javascript in your browser</h1>
</noscript>
<div id="global_tools">
    {% include "logo.html" %}
    <div class="panel right_half">
        <span class="login_button global_tools_button">
            <a href="/provider">{{provider}} ({{posts['unread']}} / {{posts['read']}})</a>
        </span>
        {{ menu.settings_menu() }}
    </div>
</div>
<div class="page screen_middle">
    {% for e in err %}
        <p id="error">{{e}}</p>
    {% endfor %}
    <div class="root_item"><a href="/group/category">Posts grouped by category</a></div>
    <div class="root_item"><a href="/group/tag/1">Posts grouped by tag</a></div>
    <div class="root_item"><a href="/map">News on map</a></div>
    {% for sent in sentiments %}
        <div class="root_item"><a href="/tags/sentiment/{{sent|replace('/', '|')}}/1">Tags - {{sent}}</a></div>
    {% endfor %}
    <div class="root_item"><a href="/provider">Select provider</a></div>
    <div class="root_item"><a href="/refresh">Refresh posts</a></div>
</div>
<div id="loading"><img src="/static/img/g_load.gif" /></div>
<div id="status" ><span></span></div>
{% include "root-footer.html" %}
<div id="progressbar"></div></body>
</html>
