<!DOCTYPE html/>
<html>
<head>
<title>{{group}} | {{selected_tags}}</title>
{% include "head-data.html" %}
</head>
<body>
{% import 'main-menu.html' as menu with context %}{% import 'global-status.html' as g_status with context %}
<div id="global_tools">
    <div class="left_half">
        <div id="link_on_root" class="global_tools_button">
            <a href="/">main</a>
        </div>
        <div id="help_button" class="global_tools_button">
            <a href="#">help</a>
        </div>
        <div id="link_to_back" class="global_tools_button">
            <a href="{{back_link}}">level up</a>
        </div>
    </div>
    <div class="right_half">
        <div id="posts_stat" class="global_tools_button"></div>
        <div id="read_all" class="global_tools_button"><span>read all</span></div>
        <div id="show_all" class="global_tools_button"><span>show all</span></div>
        <div id="main_menu_button" class="global_tools_button">
            {{ menu.menu_button() }}
            {{ g_status.global_status() }}
        </div>
    </div>
</div>
<div id="help_window">
<ul>
    <li><b>Shift+A</b> - mark all posts as read/unread</li>
    <li><b>Shift+S</b> - show/hide content of all posts</li>
    <li><b>Ctrl+Up</b> - go on level up (page: group by category or group by tag)</li>
    <li><b>Ctrl+Down</b> - load and show page "level up" (page: group by category or group by tag) in current page</li>
    <li><b>N</b> - next post</li>
    <li><b>B</b> - previous post</li>
    <li><b>S</b> (or <b>click\tap</b> on post title) - show/hide content of current post</li>
    <li><b>M</b> (or <b>click\tap</b> on read/unread label, or <b>horizontal swipe</b> on post body) - mark current post as read/unread</li>
    <li><b>H</b> - show\hide this window</li>
</ul>
</div>
{{ menu.menu_window() }}
<div id="post_links">
    <span class="post_links_close">x</span>
    <span class="post_links_content"></span>
</div>
{% if tags %}
    {% for tag in tags %}
        <div class="page" data-tag="{{tag}}" data-group="{{group}}">
        <div class="tag_title">
            <h3>{{tag}}</h3>
            {% if tags[tag]['words'] %}
                <span>({{tags[tag]['words']}})</span>
            {% endif %}
        </div>
            {% for p in tags[tag]['posts'] %}
                <div class="post" data-feed="{{p['feed_id']}}" id="p{{p['pid']}}" data-pos="{{p['pid']}}"><a name="p{{p['pid']}}"></a>
                    <h3 class="post_title"><a class="post_title_link" href="{{p['url']}}" target="_blank">{{p['content']['title']}}</a></h3>
                    <div class="post_meta">{{p['category_title']}} | {#<img src="{{p['favicon']}}" class="favicon" />#}<b class="post_feed_title">{{p['feed_title']}}</b> | {{p['date']}}</div>
                    <div class="post_content hide">{# {{p['content']['content']}} #}</div>
                    <div class="post_tools">
                        {#<a href="{{p['url']}}" class="post_show_original" target="_blank">Show original...</a>#}
                        <a href="#p{{p['pid']}}" class="post_show_content">Show post</a>
                        <a href="#p{{p['pid']}}" class="post_show_links">Show links</a>
                        {% if p['read'] %}
                            <span class="read_button read" data-pos="{{p['pid']}}">read</span>
                        {% else %}
                            <span class=" read_button unread" data-pos="{{p['pid']}}">unread</span>
                        {% endif %}
                        <div class="post_links_content"></div>
                    </div>
                </div>
            {% endfor %}
        <!--div id="show_tags"><a href="#tags">Show "level up"</a><a name="tags"></div-->
        </div>
    {% endfor %}
{% else %}
    <p>No unread posts</p>
{% endif %}
<div id="progressbar"></div></body>
</html>