body, html, img, p, a, span, div {
  padding: 0;
  margin: 0;
  float: none;
  clear: both;
  font-family: Arial;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #d7d7af;
}

img {
  max-width: 100%;
}

.favicon {
  display: inline;
  max-height: 12pt;
}

/*a {
    color: #008aff;
    font-size: 11pt;
}*/
p {
  font-size: 12pt;
}

.post_content {
  margin-bottom: 0.7em;
  margin-top: 0.7em;
  overflow: auto;
  line-height: 1.3;
  text-align: justify;
}

h3.post_title {
  cursor: pointer;
  font-weight: lighter;
  padding: 0;
  margin: 0;
}

.post_title_link {
  text-decoration: none;
  font: 14pt Arial, sans-serif;
}

.post_tag_letter_block {
  display: inline-block;
  margin: 0 0.4em;
}

.post_tag_link {
  display: inline-block;
  margin: 0 0.2em;
}

.post_tag_letter {
  color: gray;
  font-size: 18pt;
  font-variant: small-caps;
}

.tag_title, .group_title {
  font-weight: lighter;
  color: #bcbcbc;
  margin: 0.7em 0 0.5em 0.7em;
  width: 90%;
  /*text-align: center;*/
}

.tag_title, .group_title h3 {
  padding: 0.3em 0 0.3em 0;
  display: inline;
}

.tag_title, .group_title span {
  font-size: 11pt;
}

.alpha_group_title {
  margin: 0.8em 0 0.4em 0.4em;
  color: #9a9a9a;
}
.alpha_group_title h3 {
  display: inline;
  font-weight: normal;
  font-size: 14pt;
}

.post_meta {
  font-size: 10pt;
  color: #bcbcbc;
  padding: 0 0.5em 0 0;
  margin: 0 0 0.5em 0;
}

.post_feed_title {
  color: #878787;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.page, .geomap {
  width: 80%;
  margin: 1.5em auto 3em auto;
}

.geomap, #map {
  width: 90%;
  height: 600px;
  max-height: 100%;
}

#map {
  width: 100%;
}

.post {
  padding: 0.2em 0.7em 0.7em 0.7em;
  margin: 0 0.7em 0.7em 0.7em;
  border-bottom: 1px solid #c6c6c6;
}

.current_post {
  outline: 1px solid #c6c6c6;
}

#global_tools {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px gray;
  border-bottom: 1px solid #c6c6c6;
  padding: 0 0 0.5em 0;
  z-index: 999;
}

.current_page {
  font-weight: bold;
}

.global_tools_button {
  background-color: #ffffff;
  cursor: pointer;
  display: inline-block;
  margin: 0 1em 0 0;
  font-size: 14pt;
}

#global_tools_button a, #global_tools_button span {
  font-size: 14pt;
}

#global_tools_bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14pt;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px gray;
  border-top: 1px solid #c6c6c6;
  padding: 0.5em 0;
}

#paginator {
  list-style: none;
  padding: 0;
  margin: 0;
}

#paginator li {
  display: inline;
  font-size: 14pt;
  margin-right: 0.4em;
}

/*#global_tools_bottom * {
    font-size: 14pt;
    padding: 0 0.2em
}*/
.post_tools {
  width: 100%;
  /*border-top: 1px solid $my_gray;*/
  padding: 0.1em 0 0 0;
}

.read_button {
  float: right;
  padding: 0 0.3em;
  -webkit-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  cursor: pointer;
}

#read_all span {
  display: inline-block;
  border-bottom: 1px solid red;
}

#show_all span {
  display: inline-block;
  border-bottom: 1px solid #7be15f;
}

.tag_info_title {
  display: inline;
  margin-right: 1em;
}

.tag_info_block {
  border: 1px solid #c6c6c6;
  -webkit-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 1em 0;
  padding: 0.5em;
}

.cloud {
  display: inline;
  width: 100%;
}

.cloud_item {
  padding: 0.5em;
  margin: 0.5em;
  display: inline-block;
  text-align: center;
  font-size: 10pt;
  border: 1px solid #c6c6c6;
  -webkit-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  max-width: 100%;
}

.negative {
  border: 1px solid red;
}

.positive {
  border: 1px solid green;
}

.positive_negative {
  border: 1px solid orange;
}

.cloud_item_group {
  padding: 0.5em;
  margin: 0.5em;
  display: inline-block;
  text-align: center;
  font-size: 10pt;
  border: 1px solid #c6c6c6;
  -webkit-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 0px 2px 0px gray;
  -ms-box-shadow: 0px 0px 2px 0px gray;
  -moz-box-shadow: 0px 0px 2px 0px gray;
  -o-box-shadow: 0px 0px 2px 0px gray;
  box-shadow: 0px 0px 2px 0px gray;
  cursor: pointer;
  max-width: 100%;
}

.cloud_item_title {
  font-size: 13pt;
  font-variant: small-caps;
}

.cloud_sub_item_title {
  font-size: 13pt;
  font-variant: small-caps;
  margin-right: 1em;
}

.read {
  background-color: #ffffff;
}

.unread {
  background-color: #f1f1f1;
}

.error {
  color: red;
  font-size: 16pt;
}

.letters {
  text-align: center;
  margin: 1em 0 0 0;
  width: 100%;
}

.letter {
  margin: 0 0.2em;
  font-size: 16pt;
}

.root_item {
  /*box-shadow: 0px 0px 2px 0px gray;*/
  padding: 0.7em;
  margin: 0.5em;
  text-align: center;
}

.root_item a {
  font-size: 14pt;
}

#loading {
  position: fixed;
  padding: 0.5em;
  top: 30%;
  left: 45%;
  text-align: center;
  display: none;
  background-color: #fff;
  -webkit-opacity: 0.9;
  -ms-opacity: 0.9;
  -moz-opacity: 0.9;
  -o-opacity: 0.9;
  opacity: 0.9;
  border: 1px solid #c6c6c6;
  -webkit-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}

#status {
  position: fixed;
  display: none;
  top: 40%;
  left: 20%;
  right: 20%;
  text-align: center;
  font-size: 24pt;
}

.status span {
  display: inline-block;
}

.status_ready {
  border-bottom: 2px solid #7be15f;
}

.status_not_logged {
  border-bottom: 2px solid red;
}

.status_not_ready {
  border-bottom: 2px solid orange;
}

.category {
  padding: 0.2em 0;
  /*list-style: none;*/
}

.show_btn {
  font-size: 14pt;
  cursor: pointer;
  height: 100%;
  padding: 0 0.2em;
}

.minimized:before {
  content: "+";
}

.not_minimized:before {
  content: "-";
}

.feeds li {
  /*list-style: none;*/
  padding: 0.3em 0 0.2em 0;
  margin: 0;
}

.feeds ul {
  margin: 0;
  padding: 0;
}

.not_hidden {
  display: block;
}

.hidden {
  display: none;
}

#help_window {
  position: fixed;
  top: 10%;
  left: 20%;
  right: 20%;
  /*width: 50%;*/
  height: 80%;
  margin: 0 auto;
  display: none;
  background-color: #ffffff;
  box-shadow: 0 0 0.2em 0.2em gray;
}

#show_tags {
  /*border-bottom: 1px dashed blue;*/
  cursor: pointer;
  text-align: center;
  padding: 0.3em;
  /*box-shadow: 0px 0px 2px 0px gray;*/
}

#show_tags a {
  font-size: 16pt;
}

.post_show_links, .post_show_content {
  border-bottom: 1px dashed blue;
  text-decoration: none;
  margin: 0 1em 0 0;
  cursor: pointer;
  color: blue;
}

#post_links {
  display: none;
  position: absolute;
  padding: 0.5em 1em 0.5em 0.5em;
  background-color: #ffffff;
  box-shadow: 0 0 0.2em 0.1em gray;
}

.post_links_close {
  position: absolute;
  right: 1%;
  top: -1%;
  cursor: pointer;
  font-weight: bold;
  font-variant: small-caps;
}

.how_to_use, .about {
  margin: 0 auto;
  width: 90%;
  text-align: left;
}

.center {
  text-align: center;
}

.search_tools {
  margin: 1em 0.5em 0.5em 0.5em;
  text-align: center;
}

.search_field {
  width: 60%;
  position: relative;
}

.search_result {
  /*display: none;*/
  padding: 0;
  margin: 0;
  width: 60%;
  max-height: 50%;
  overflow: auto;
  position: absolute;
  left: 20%;
  outline: 1px solid #c6c6c6;
  text-align: left;
  background-color: #ffffff;
}

.search_result_item {
  margin: 0.3em;
}

.search_result_item:after {
  display: block;
}

.selected_tag {
  background-color: #dde5ff;
}

.left_half {
  text-align: left;
}

.right_half {
  text-align: right;
}

.left_half, .right_half {
  display: inline-block;
  width: 49%;
  padding: 0;
  margin: 0;
}

.logo_text {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.logo_img {
  width: 30%;
  max-width: 48px;
  vertical-align: bottom;
}

.logo {
  padding: 0;
}

.login_button {
  font-size: 16pt;
}

.main_menu_button {
  /*padding: 0.2em;
  border: 1px solid black;
  border-radius: 6px;*/
  cursor: pointer;
  font: 20pt bold;
}

.main_menu_button img {
  vertical-align: bottom;
}

.main_menu_window {
  text-align: left;
  position: fixed;
  /*display: none;*/
  background-color: white;
  padding: 0.5em;
  box-shadow: 0px 0px 0.3em 0 black;
  z-index: 999;
}

.form_button {
  cursor: pointer;
  border: 1px solid black;
  -webkit-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0.1em;
}

.description_text {
  text-align: justify;
}

.description_text p {
  padding: 0.2em 0 0.2em 2em;
}

.description_example {
  margin-left: 2em;
}

.start_reading {
  font-size: 24pt;
  text-align: center;
  position: relative;
  left: 0%;
  right: 0%;
  margin-top: 1em;
  display: block;
}

.screen_middle {
  position: relative;
  top: 5%;
  left: 0;
  right: 0;
  bottom: 20%;
  text-align: center;
}

.middle_screen_middle {
  display: inline-block;
  text-align: justify;
}

.link_in_form {
  margin: 0 0.8em;
}

.tag_hash {
  border-color: red;
}

.get_tag_siblings, .hide_tag_siblings {
  font-size: 20px;
  font-weight: bold;
}

.tag_siblings {
  max-width: 98%;
  text-align: center;
}

.tag_siblings a {
  margin: 0.5em;
}

#progressbar {
  top: 0;
  left: 0;
  right: 0;
  height: 0.1%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 999;
}

.filling {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #008ec9;
  -webkit-transition: width 1s;
  -ms-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  -webkit-opacity: 0.5;
  -ms-opacity: 0.5;
  -moz-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
  -webkit-box-shadow: 0 0 3px 2px #008ec9;
  -ms-box-shadow: 0 0 3px 2px #008ec9;
  -moz-box-shadow: 0 0 3px 2px #008ec9;
  -o-box-shadow: 0 0 3px 2px #008ec9;
  box-shadow: 0 0 3px 2px #008ec9;
}

.post_tag_contexts {
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  padding: 0.2em 0;
}

.post_tag_context_tag {
  font-weight: bold;
}

@media all and (max-width: 800px) {
  .screen_middle {
    top: 5%;
  }
  .letters {
    margin-top: 3em;
  }
  .tag_title, .group_title {
    margin-top: 3em;
  }
  .page, .geomap {
    margin-bottom: 3em;
    width: 98%;
  }
  .global_tools_button {
    margin-top: 1em;
  }
}
.tag_txt_clusters_tr {
  vertical-align: middle;
}

.tag_txt_clusters_td_left, .tag_txt_clusters_td_right, .tag_txt_clusters_td_middle {
  vertical-align: middle;
  padding-bottom: 1em;
}

.tag_txt_clusters_td_left, .tag_txt_clusters_td_right {
  width: 44%;
}

.tag_txt_clusters_td_middle {
  width: 10%;
}

.tag_txt_clusters_cluster {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #c6c6c6;
  display: block;
}

.post_tab_lists {
  padding: 0;
  margin: 0;
}

.post_tab {
  display: inline-block;
  list-style: none;
  padding: 0.5em;
  cursor: pointer;
  text-decoration: underline;
}

.post_tab_active {
  font-weight: bold;
  text-decoration: none;
}

.tag_sentences_link, .get_tag_sunburst {
  padding: 0 0.5em;
}

.tag_sentences_link {
  padding: 0 0.5em;
}

.cluster_link {
  display: inline-block;
  margin: 0.4em;
}

.openai_info_block {
  width: 100%;
}

.openai_tool_table {
  width: 100%;
}

.openai_tool_table td {
  width: 49%;
}

.openai_tool_table textarea {
  width: 100%;
}

.load_more_posts {
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  font-size: 16pt;
  border-bottom: 1px solid #c6c6c6;
}

/* Chat component styles */
.post-chat-container {
  padding: 1em;
  margin: 1em 0;
}

.chat-form {
  margin-bottom: 1em;
}

.chat-input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid #c6c6c6;
  border-radius: 0.5em;
  font-size: 12pt;
}

.chat-submit {
  padding: 0.5em 1em;
  background-color: #008ec9;
  color: white;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 12pt;
}

.chat-submit:hover {
  background-color: #0077a8;
}

.chat-submit:disabled {
  background-color: #c6c6c6;
  cursor: not-allowed;
}

.loading-indicator {
  margin: 1em 0;
  font-style: italic;
  color: #666;
}

.chat-response {
  margin-top: 1em;
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 0.5em;
  border: 1px solid #c6c6c6;
}

.chat-response h4 {
  margin-top: 0;
  color: #008ec9;
}

.response-content {
  white-space: pre-line;
  line-height: 1.4;
}

.s-tree-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.s-tree-table th, .s-tree-table td {
  border: 1px solid #ddd;
  padding: 4px;
  word-break: break-word;
  white-space: normal;
}

.s-tree-table .left {
  text-align: right;
  width: 44%;
  min-width: 180px;
  max-width: 520px;
}

.s-tree-table .mid {
  text-align: center;
  font-weight: bold;
  width: 10%;
  min-width: 40px;
  max-width: 80px;
}

.s-tree-table .right {
  text-align: left;
  width: 44%;
  min-width: 180px;
  max-width: 520px;
}

.s-tree-table th, .s-tree-table td {
  max-width: 520px;
  overflow: hidden;
}

.sentence-row .sentence-cell {
  padding: 0;
  vertical-align: middle;
  position: relative;
}

.sentence-cell-inner {
  display: flex;
  align-items: center;
  min-height: 2.2em;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  min-width: 0;
  justify-content: flex-end;
}

.s-tree-table .mid .sentence-cell-inner {
  justify-content: center;
}

.s-tree-table .right .sentence-cell-inner {
  justify-content: flex-start;
}

.show-more-less-block {
  margin-top: 0.2em;
  text-align: center;
  width: 100%;
}

.show-more-btn {
  font-size: 12px;
  padding: 2px 8px;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #bbb;
  border-radius: 0.3em;
  background: #f8f8f8;
  transition: background 0.2s;
}

.show-more-btn:hover {
  background: #e0e0e0;
}

.highlite_tag {
  background-color: yellow;
}